body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/img/garageInterior.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-color: #DDDDDD;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFFFFF;
    opacity: 0.95;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media screen and (max-width: 776px) {
    
    /*#sortTable{
        display: none;
    }*/

    /*.table{
        display: none;
    }*/

    #sortTable_wrapper{
        display: none;
    }

}

@media screen and (min-width: 777px) {
    
    #smallView{
        display: none;
    }

}