@{
    ViewBag.Title = "Garage 2.0";
}


    <div class="well well-lg">
        <h1>Välkommen till @ViewBag.Title</h1>
        <p class="lead">Här kan du hämta ut/parkera ditt fordon samt kontrollera parkerade fordon.</p>
        @Html.ActionLink("Gå till Garaget »", "Index", "Vehicles", null, new { @class = "btn btn-primary btn-lg" })
    </div>


